@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body { 

    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    transition: all 350ms;  
    font-family: 'Roboto', sans-serif;

}

.csshero {
    background-color:hsla(0,0%,0%,1);
    background-image:
    radial-gradient(at 80% 100%, hsla(344,93%,17%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(233,87%,25%,1) 0px, transparent 50%);
}
.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.navglass {

    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}
/* hide login box */
.hide {
    display: none;
}

/* Fonts */

.family-font { 
    font-family: 'Titillium Web', sans-serif;
}




/* ModeToggle animation */

.animate {
    animation-name: animate;
    animation-duration: 1s;
}

@keyframes animate {
    0% {
        opacity: 0;
        
    }
}


.animatepass {
    animation-name: animatepass;
    animation-duration: 1s;
}
@keyframes animatepass {
    0%{
        opacity: 0;
    }
}
.animatebox {
    animation-name: animatebox;
    animation-duration: 1s;
}
@keyframes animatebox {
    0%{
        opacity: 0;
    }
}

.userstatus{
    animation-name: animatestatus;
    animation-duration: 5s;
    opacity: 0;
}
@keyframes animatestatus {
    0%{
        opacity: 1;
    }
}

/* Media */

@media (max-width: 328px) {
    .userbox {
        top: 130px;

    }
}

@media (max-width: 230px) {
    .userbox {
        top: 200px;

    }
}